
*{margin: 0;padding:0;  }
ul{list-style:none;}
#main{  width: 640px;
    height: 960px;
    position: absolute;
    left:50%;
    top:0;
    margin-left: -320px;
    -webkit-transform-origin: top;  }
.slide li{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    /*margin: 0 20px;*/
}
/*底部的角标*/
.tip{
     display: block;
     position: fixed;
     left: 50%;
     bottom: 5%;
     border: 15px;
     border-color: transparent transparent white transparent;
    border-style: solid;
     z-index: 500;
 }

/*music*/
.music {

    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: url(./video/music.svg) no-repeat;
    background-size: 100%;

    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.music.move {
    -webkit-animation: audioMove 1s linear 0s infinite;
    animation: audioMove 1s linear 0s infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes audioMove {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes audioMove {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.slide li:nth-child(1){
    background: url(images/d.png) no-repeat;

}
.slide li:nth-child(2){
    background: url(images/b.png) no-repeat;
}
.slide li:nth-child(3){
    background: url(images/c.png) no-repeat;
}
.slide li:nth-child(4){
    background: url(images/e.png) no-repeat;
}
.slide li:nth-child(5){
    background: url(images/c9.png) no-repeat;
}
.zIndex {
    z-index: 111;
}

.a1{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom:23%;
    left:15%

}
.a1 #a1-top{
    font-size: 70px;
    text-align: center;
    margin-bottom: 170px;
}
.a1 p{
    color: #fff;
    line-height: 30px;
    font-size: 40px;
    margin:  30px 0;
    text-align:left;
    width: 60%;
}
.a1 p:nth-child(odd){
    -webkit-transform: translate(700px,0);
}

.a1 p:nth-child(even){
   -webkit-transform: translate(-800px,0);
}
#a1 p{
    -webkit-transform: translate(0,0);
    -webkit-transition:1s
}
.a2 p{
    position: absolute;
    left:-30%;


}
.a2 p img{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
#a2 p:nth-child(1){
    left:35%;
    top:8%;
    font-size: 70px;
}
#a2 p:nth-child(2) {
    left: 10%;
    top: 30%

}
#a2 p:nth-child(3){
    left:10%;
    top:40%
}
#a2 p:nth-child(4){
    left:10%;
    top:50%;
}
#a2 p:nth-child(5){
    left:10%;
    top:60%;
}#a2 p:nth-child(6){
     left:10%;
     top:70%;
 }
.a2{
    text-align: center;
}
#a2 p img{
    -webkit-transform: rotate(1800deg);
    -webkit-transition: 0.5s;
}
#a2 p{
    -webkit-transform: scale(1);
    -webkit-transition: 0.5s;
    color: white;
    font-size: 40px;
}
/* 开始*/
.a3 div {
    position: absolute;
    top: 5%;
    left: -150%;
    width: 72%;
    height: 30%;
    font-size: 30px;
    color: white;
    padding: 0 90px;
}
.a3 div:nth-child(1){
    font-size: 50px;
    text-align: center;
    line-height: 80px;
}
.a3 div:nth-child(2) {
    top: 20%;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.a3 div:nth-child(3) {
    top: 47%;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.a3 div:nth-child(4) {
    top: 70%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.a3 div.move {
    -webkit-animation-name: myMove;
    animation-name: myMove;

    -webkit-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;


    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes myMove {
    25% {
        left: -75%;
    }
    50%, 100% {
        left: 0;
    }
    75% {
        left: 75%;
    }
}

@keyframes myMove {
    25% {
        left: -75%;
    }
    50%, 100% {
        left: 0;
    }
    75% {
        left: 75%;
    }
}
/*结束*/
.a4 p{
    width:60%;
    overflow: hidden;
    color: #fff;
    position:absolute;
    left: 10%;
}
.a4 p:nth-child(1){
    top:30%
}
.a4 p:nth-child(2){
    top:50%;
}
.a4 p:nth-child(3){
    top:70%
}
.a4 p:nth-child(4){
    margin-left: 130px;
    margin-top: 50px;
}
#a4 p{
    width: 500px;
    height: 300px;
    -webkit-transition: 0.5s;
    font-size: 30px;
}
#a4 p:nth-child(4){
     font-size: 60px;
    margin-top: 100px;
 }

#a5{
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 280px;
}

#a5 img{
    width: 50%;
    height: 50%;
    margin-top: 160px;
}
#a5 span{
    font-size: 70px;
    margin-top: 300px;
    color: white;
    position: absolute;
    top:-100%;
}
#a5 .a6{
    margin-top: 400px;
    margin-left:42px;
}

/*@-webkit-keyframes rotate {
    0%{
        -webkit-transform: rotate(180deg) scale(0.2);
        transform: rotate(180deg) scale(0.2);
    }
    100%{
        -webkit-transform:rotate(360deg) scale(1);
    transform:rotate(360deg) scale(1)
    }
}
#a5:target{
    -webkit-animation:rotate 1s ease-in-out ;
    animation:rotate 1s ease-in-out ;
}
.a5 .animated{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}*/
